.backgroundImage{
    position: absolute;    
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;  
}


.smallImageUl-zero{
    height: 30vh;
    width: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.smallImage-ul-li-div-zero{
    height: auto;
    width: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover; 
    transform: perspective(350px) rotate3D(0, 1, 0, 15deg);
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(0,0,0,0.5));   
}


.smallImageLeftSide{
    position: absolute;
    top: 12vh;
    left: 15vw;
    float: left;

    height: auto;
    width: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;    
    transform: perspective(350px) rotate3D(0, 1, 0, 25deg);
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(0,0,0,0.2));
}

.meduimImageLeftSide{
    position: absolute;
    top: 15vh;
    left: 5vw;
    float: left;

    height: 70vh;
    width: 50vw;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;  
    border: 1px solid red;
}