.logo-circle-video{
    position: absolute;
    bottom: 20px;
    float: right;
    right: 25px;
    height: 20vh;
    width: 10vw;
    border-radius: 50%;      
    z-index: 1;   
}
.logo-circle-video span:nth-child(1){
    position: absolute;
    top: 45%;
    left: 36%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.logo-circle-video span:nth-child(2){
    position: absolute;
    top: 58%;
    left: 54%;
    transform: translate(-50%, -50%); 
    z-index: 1;  
}

.logo-circle-contact{
    position: absolute;            
    height: 60vh;
    width: 30vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;    
    z-index: 1;
    /* border: 2px solid red; */
}
.logo-circle-contact span:nth-child(1){
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.logo-circle-contact span:nth-child(2){
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;  
}
.logo-circle-contact span:nth-child(3){
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;  
}
