.sections{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
}

.sections0
{
    position: relative;
    width: 100%;
    height: 200vh;
    background: rgb(255, 255, 255);
}