.ul-column{
    position: absolute;    
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%,-50%);
    display: flex; 
}

.ul-column li{
    list-style: none;
    margin: 0 15px;
}

.ul-column li a{    
    color: white;       
    text-decoration: none;
    color: black;
}

.ul-column li .div-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 20vw;    
}

.ul-column li .div-container:hover{
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 30vw;
    transition: all .5s ease-in; 
}

.ul-column li .div-container:not(:hover){
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 20vw;
    transition: all .5s ease-out; 
}

.ul-column li span.text{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    z-index: 1;    
}

