@font-face {
    font-family: helloParisRegualr;
    src: url(../fonts/hello-paris/bold.ttf);
}
.victoria-word-logo, .haven-word-logo
{    
    font-family: helloParisRegualr;
    font-size: 250px; 
}

.victoria-word-logo{
    color: black;
}

.haven-word-logo{
    color: #F09E05;
}

h1.victoria-word-logo{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

h1.haven-word-logo{
    position: absolute;
    top: 68.8%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}