.card {
  position: absolute;
  width: 70vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #aaa3a3;
}

.row{
  display: flex;
  width: 100%;
  height: 9vh;
  /* border: 1px solid green; */
}

.columns-label{
  position: relative;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 10vh;
  /* border: 1px solid rebeccapurple; */
  line-height: 65px;
  text-align: center;
}

.columns{
  position: relative;
  left: 35%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 10vh;
  /* border: 1px solid rebeccapurple; */
  line-height: 65px;
  text-align: center;
}

input[type=text]{
  float: left;
  left: 0px;
  width: 50%;
  padding: 10px 0;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
}

.input-width-80{
  width: 82% !important;
}

input[type=time]{
  position: relative;  
  float: left;
  left: 0;
  width: 30%;
  padding: 8px 0;
  margin: 12px 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
}

